# 服务器配置
PORT=3000
HOST=0.0.0.0

# MQTT配置
MQTT_BROKER=mqtt://localhost:1883
# MQTT_USERNAME=your_username
# MQTT_PASSWORD=your_password

# MongoDB配置
MONGODB_URI=mongodb+srv://group18_iot:LKPz7hQ5VoLex8bR@cluster0.acq0jpq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
